:host {
    ::ng-deep {
        .mat-form-field-infix {
            width: auto;
        }
        .mat-cell {
            text-align: end;
        }
    }
    .upload-btn-wrapper button{
        margin-top: 0 !important;
    }
}
