<div style="height:100%" fxLayout="column">
    <div fxFlex="50px"  fxLayoutAlign="space-between center"  fxLayout="row" >
        <div>
            <mat-radio-group [(ngModel)]="contacts.nameDirection">
                <mat-radio-button class="example-margin" [value]="ContactNameDirection.RTL">
                    עברית
                </mat-radio-button>
                <mat-radio-button class="example-margin" [value]="ContactNameDirection.LTR">
                   אנגלית
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div  fxLayout="row" >
            <div class="upload-btn-wrapper" >
                <button mat-button>יבא</button>
                <input type="file" name="myfile" (change)="handleFileInput($event.target.files)" />
            </div>
            <button (click)="export()" mat-button>יצא</button>
        </div>
    </div>
    <mat-virtual-table
        fxFlex
        [rows]="contacts.list"
        [filterPlaceholder]="'חיפוש'"
        [paginator]="false"
        [columnsDef]="contactColumns"
    >
        <ng-container *ngFor="let field of contacts.contactFields">
            <ng-template pCellDef [column]="field.property" let-row="row" let-i="index" let-inEdit="false">
                <div style="height: 50px;width: 100%;text-align: center" (click)="inEdit = true"
                     [dir]="field.property.startsWith('Name') ? (contacts.nameDirection ===  ContactNameDirection.LTR ? 'ltr' : 'rtl') : ''">
                    <div [style.background-color]="getColor(+row['id'] - 1, field.property)">
                        <span style="height: 50px; width: 100%;line-height: 50px; white-space: pre;" *ngIf="!inEdit">
                            {{ row[field.property] }}
                        </span>
                    </div>
                    <mat-form-field *ngIf="inEdit">
                        <input
                                autocomplete="off"
                                [maxlength]="field.maxLength || field.length"
                                #ref
                                (blur)="inEdit = false"
                                (change)="signChange(+row['id'] - 1, field)"
                                matInput
                                [(ngModel)]="row[field.property]"
                        />
                    </mat-form-field>
                </div>
            </ng-template>
        </ng-container>
    </mat-virtual-table>
</div>
