@mixin letter($font-size, $letter-spacing, $line-height: normal, $font-weight: normal, $font-family: Poppins, $color: #feffdf) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    font-style: normal;
    font-stretch: normal;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    color: $color;
}

body {
    background-color: #fafafa;
}
.content {
    height: 100vh;
    .divOpen {
        transition-duration: 235ms;
        width: 100%;
        height: 28%;
        background: #eeeeee;

        &.open {
            height: 75%;

            .mat-expansion-panel-header {
                border: none;
                background: rgba(216, 216, 216, 0.27) !important;
            }
        }
        .categories {
            width: 53.7%;
            top: 7%;
            position: absolute;
            svg {
                padding-bottom: 1.5em;
            }
            .search {
                height: 40px;
                width: 106%;
                i {
                    color: #bfbfbf;
                    padding: 0 0.5em;
                }
                mat-form-field {
                    text-align: end;
                    i {
                        color: #bfbfbf;
                    }
                }
            }

            mat-accordion {
                .wrapperPtree {
                    height: 400px;
                    overflow: scroll;
                }
                .results {
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    overflow: auto;
                }
            }
        }
    }
}
.templates {
    width: calc(((415px - 8px) * 1) + 0px) !important;
    top: 55px !important;
    height: calc(((86% - 0px) * 1) + 0px) !important;
    background: white;
    p-autocomplete {
        width: 80%;
        height: 20%;
    }
    span {
        i {
            color: #bfbfbf;
            padding: 0 0.5em;
        }
    }
    .button {
        margin: 17px !important;
        min-width: 153px !important;
        min-height: 101px !important;
        padding: 0 !important;
        border-radius: 0px !important;
        top: 4px !important;
        border: 1px solid #eeeeee !important;
        .textBut {
            @include letter(14px, 0.5px, $font-family: Poppins, $color: #000000);
            padding-top: 1em;
        }
    }
    .wrapperbutton {
        height: 2%;
        border-top: 1px solid #eeeeee;
        margin: 0 17px;
    }
}

cdk-virtual-scroll-content-wrapper {
    top: 30px !important;
}

.mat-tree {
    background: rgba(216, 216, 216, 0.27) !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
    background: #ffc400 !important;
}

.mat-expansion-panel {
    margin-top: 2.5em !important;
    background: none;
    box-shadow: none !important;
}

.mat-form-field-flex {
    top: 50px !important;
}
.mat-expansion-panel-header {
    border: 1px solid #d8d8d8;
}
.mat-expansion-panel-body {
    padding: 0px !important;
}
mat-tree {
    .selected {
        background-color: rgba(255, 220, 0, 0.1) !important;
    }
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #ffc400 !important;
}
.en-he {
    cursor: pointer;
    position: absolute;
    top: 0;
    padding: 3em 3em;
    z-index: 999;
    @include letter(14px, 0.5px, 2, $color: blue);
}
