<div [dir]="i18nService.dir">
    <p-topbar [model]="topbarModel" [inProgress]="!currentTemplate"></p-topbar>
    <div class="content" *ngIf="currentTemplate">
        <mat-grid-list gutterSize="10px" cols="5" rowHeight="fit">
            <mat-grid-tile colspan="1">
                <div fxFill fxLayout="column" fxLayoutAlign="center center">
                    <div fxFlex="300px">
                        <h2>TEMPLATES</h2>
                        <p-autocomplete
                            *ngIf="seriesGroupsSettings"
                            (selectedChange)="filterSelected($event)"
                            [settings]="seriesGroupsSettings"
                            [freeText]="true"
                        ></p-autocomplete>
                    </div>
                    <div fxFlex>
                        <div fxLayout="column">
                            <span *ngFor="let id of currentTemplate.seriesIds">
                                <button mat-mini-fab (click)="onSelectSeries(false, seriesDic[id])">
                                    <mat-icon>clear</mat-icon>
                                </button>
                                {{ seriesDic[id].title }}
                            </span>
                        </div>
                    </div>
                    <div fxFlex="100px">
                        <form [formGroup]="dateForm">
                            <mat-form-field>
                                <input matInput placeholder="Choose a date" [satDatepicker]="picker4" formControlName="date" />
                                <sat-datepicker #picker4 [rangeMode]="true" orderPeriodLabel="year"> </sat-datepicker>
                                <sat-datepicker-toggle matSuffix [for]="picker4"></sat-datepicker-toggle>
                            </mat-form-field>

                            <button (click)="download()" mat-button>
                                הורד
                            </button>
                        </form>
                    </div>
                </div>
            </mat-grid-tile>

            <mat-grid-tile colspan="3">
                <div fxLayout="column" fxFlex style="height:100%;width:100%;">
                    <mat-form-field fxFlex="40px">
                        <input id="input" matInput [placeholder]="'חיפוש'" [formControl]="input" />
                    </mat-form-field>
                    <mat-accordion [multi]="true" fxFlex>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>קטגוריות </mat-expansion-panel-header>
                            <div style="height: 400px;">
                                <p-tree [data]="categories" (select)="onSelectCategory($event)"></p-tree>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel style="height: 100%;" [expanded]="true">
                            <cdk-virtual-scroll-viewport style="height: 100%;" itemSize="40">
                                <div style="height: 40px;" *cdkVirtualFor="let option of filteredOptions | async">
                                    <mat-checkbox
                                        (change)="onSelectSeries($event.checked, option)"
                                        [checked]="selectedSeries[option.sId]"
                                    ></mat-checkbox>
                                    {{ option.sId + ', ' + option.name }}
                                </div>
                            </cdk-virtual-scroll-viewport>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
