@import '~@angular/material/theming';
@include mat-core();

$candy-app-primary: mat-palette($mat-amber, 400);
$candy-app-accent: mat-palette($mat-amber);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

@mixin letter($font-size, $letter-spacing, $line-height: normal, $font-weight: normal, $font-family: Poppins, $color: #feffdf) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    font-style: normal;
    font-stretch: normal;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    color: $color;
}
body {
    background-color: #fafafa;
}
p-macro {
    height: 100vh;
}
.container {
    padding: 60px 11%;
    background: linear-gradient(to bottom, #eeeeee 28%, #fafafa 0%);
    .mat-expansion-panel-spacing {
        // margin: 0 !important;
    }
    &.open {
        background: linear-gradient(to bottom, #eeeeee 68.8%, #fafafa 0%);

        .mat-expansion-panel-header {
            border: none;
        }
        //.results.mat-expansion-panel {
        //    margin-top: 18px !important;
        //}

        .mat-accordion > .mat-expansion-panel-spacing:first-child {
            border: solid 1px #d8d8d8;
            background-color: rgba(216, 216, 216, 0.27);
        }

        .mat-tree {
            background: #f0f8ff00;
        }
    }
}

.categories {
    .svgMacro {
        padding-bottom: 1.5em;
    }
    .wrapperPtree {
        height: 340px;
        overflow: scroll;
    }
}

.templates {
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
    background: white;
    border-radius: 4px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.06);
    display: block;
    overflow: hidden;
    .mat-form-field-appearance-outline {
        .mat-form-field-infix {
            padding: 0 !important;
            height: 100%;
            text-align: center;
            :focus {
                text-align: start;
            }
        }
        input.mat-input-element {
            margin-top: -0.5705em;
            line-height: 100%;
            height: 100%;
        }
    }

    p-autocomplete {
        height: 20%;
        border-radius: 3px;
    }

    .points {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
    }

    button:disabled
    {
        background-color: #dddddd;
    }
    .button.mat-button {
        //margin: 17px !important;
        width: 153px !important;
        height: 101px !important;
        padding: 0 !important;
        border-radius: 0px !important;
        top: 4px !important;
        border: 1px solid #eeeeee !important;
        .textBut {
            @include letter(14px, 0.5px, $font-family: Poppins, $color: #000000);
            padding-top: 1em;
        }
        &:hover {
            border: 1px solid black !important;
        }
    }

    .mat-button.mat-primary .mat-button-focus-overlay {
        border: 1px solid black !important;
    }
    .wrapperbutton {
        height: 2%;
        border-top: 1px solid #eeeeee;
        margin: 0 17px;
    }
}

cdk-virtual-scroll-content-wrapper {
    top: 30px !important;
}
cdk-virtual-scroll-viewport {
    margin-top: 22px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    background: #ffc400 !important;
    border-radius: 4px;
}

.mat-expansion-panel {
    margin: 27px 0 !important;
    background: none;
    box-shadow: none !important;
    width: 97% !important;
    overflow: visible !important;
}
.mat-expansion-panel:nth-child(2) {
    margin: 0 !important;
}

.mat-form-field-flex {
    top: 50px !important;
    height: 56px !important;
    text-align: start !important;
}
.mat-expansion-panel-header {
    border: 1px solid #d8d8d8;
}
.mat-expansion-panel-body {
    padding: 0px !important;
}
.mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: -0.75em 0 !important;
}
cdk-virtual-scroll-viewport {
    margin: 0 -15px !important;
}
mat-tree {
    // :hover,
    .selected {
        background-color: rgba(255, 220, 0, 0.1) !important;
    }
    .mat-tree-node:hover {
        background-color: rgba(255, 220, 0, 0.1) !important;
    }

    .mat-tree-node {
        cursor: pointer;
    }
}
.mat-input-element {
    caret-color: black;
}
//::ng-deep {
//    .mat-tree-node {
//        :hover {
//            background-color: rgba(255, 220, 0, 0.1) !important;
//        }
//    }
//}
//.mat-checkbox-checked.mat-accent .mat-checkbox-background {
//    background-color: #ffc400 !important;
//}

.en-he {
    cursor: pointer;
    position: absolute;
    top: 0;
    padding: 3em 3em;
    z-index: 999;
    @include letter(14px, 0.5px, 2, $color: blue);
}
.icon {
    color: #bfbfbf;
    cursor: pointer;
    margin: -5px 0;
}
