<div style="height: 100%;" fxLayout="column" fxLayoutAlign="space-between center" *ngIf="form">
    <form fxFlex autocomplete="off" mat-dialog-content>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <p-text-box
                *ngFor="let field of formModel.feilds"
                [form]="form.controls[field.key]"
                [placeholder]="field.placeHolder"
                [name]="field.key"
                [appearance]="field.appearance || formModel.appearance || 'standard'"
            ></p-text-box>
        </div>
    </form>
    <div fxFlex="50px;" mat-dialog-actions fxLayoutAlign="space-between end">
        <button (click)="save($event)" mat-raised-button>שמור</button>
        <button (click)="cancel()" mat-raised-button>בטל</button>
    </div>
</div>
