<p-customize-template tTitle="Customized Ranking" [back]="back">
    <ng-container id="button">
        <span>Define sub-categories by colors:</span>
        <div color="primary" fxLayout="row wrap" style="height: 300px;" fxLayoutAlign="space-between">
            <div fxFlex="50%" *ngFor="let group of colorGroups">
                <div style="height: 60px;width: 60px;" fxLayoutAlign="center center">
                    <button
                        [class.selected]="selectedColorGroup.color === group.color"
                        mat-fab
                        [style.background-color]="group.color"
                        (click)="selectedColorGroup = group"
                    >
                        <mat-icon *ngIf="selectedColorGroup.color === group.color">edit</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <mat-divider style="width: 100%;"></mat-divider>
        <button mat-button color="primary">SHOW ALL</button>
        <button mat-raised-button color="primary">save</button>
    </ng-container>
    <div
        id="grid"
        style="padding: 10px;"
        fxFill
        fxFlex
        [style.background]="'#ffffff'"
        fxLayout="row wrap"
        fxLayoutAlign="space-between"
    >
        <ng-container *ngIf="state === State.editRanks">
            <p-fund-card
                (click)="group.class = selectedColorGroup.color"
                *ngFor="let group of groups"
                [group]="group"
            ></p-fund-card>
        </ng-container>
        <ng-container *ngIf="state === State.defineWeight">
            <p-define-weights-by-group-colors [groups]="selectedColorGroup"></p-define-weights-by-group-colors>
        </ng-container>
    </div>
</p-customize-template>
