<ng-container *ngIf="userFiltersSettings && dic">
    <div style="width: 100%;height: 40px;" fxLayout="row" fxLayoutAlign="end center">
        <button *ngIf="!isGrid" style="height: 24px;" mat-button (click)="download()">
            <svg-icon src="assets/img/svgs/xml.svg"></svg-icon>
        </button>
    </div>

    <div id="findFund">
        <div class="wrapFilters" fxLayout="column" fxFlex="23.4%" fxLayoutAlign="start center">
            <div fxLayout="column" class="filtersTitle" style="width: 100%" fxFlex="16.5%" fxLayoutAlign="start center">
                <span fxFlex="65px"> {{ dic.filters.title }}</span>

                <mat-tab-group fxFlex>
                    <mat-tab routerLinkActive="active" [label]="dic.tabs.filters || 'filters'"> </mat-tab>
                    <mat-tab routerLinkActive="active" [label]="dic.tabs.ptotocol || 'ptotocol'"> </mat-tab>
                </mat-tab-group>
            </div>

            <div style="width: 100%" fxLayout="column">
                <div fxFlex="100px" class="wrapAutocomplete" fxLayout="row">
                    <p-autocomplete
                        fxFlex
                        idPath="name"
                        (selectedChange)="filterSelected($event)"
                        [settings]="userFiltersSettings"
                        [removeTitle]="dic.filters.remove"
                        [freeText]="true"
                        [canRemove]="true"
                        (onRemove)="removeUserFilter($event)"
                        [freeTextAddNewTitle]="dic.filters.createNew"
                    >
                    </p-autocomplete>
                    <div style="height: 1px ;position: absolute; min-width:calc(100% - 42px);" fxLayoutAlign="end start">
                        <div style="height: 57px" fxLayoutAlign="center center">
                            <button mat-icon-button (click)="openSettingsDialog()" fxFlex="42px">
                                <mat-icon>settings</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>

                <p-filters
                    class="scrollable-y"
                    cdkScrollable
                    [dic]="filtersDic"
                    [dataSource]="funds"
                    (selectedChange)="mfService.filterChanged()"
                    [groups]="selectedTemplate?.filterGroups"
                ></p-filters>
            </div>
        </div>
        <div fxFlex="1.1%"></div>
        <mat-tab-group
            [ngClass]="isGrid ? '' : 'table'"
            class="wrapTabs"
            #tabGroup
            (selectedTabChange)="tabChanged($event)"
            mat-stretch-tabs
            fxFlex
        >
            <mat-tab [label]="dic.tabs.grid">
                <ng-template matTabContent>
                    <div fxLayout="column" fxFlex>
                        <div fxLayout="row" fxFlex="7%" fxLayoutAlign="space-between center">
                            <mat-slide-toggle [(ngModel)]="specialView" [labelPosition]="'before'">
                                <span class="slideToggleText">{{ dic.filters.switch }}</span>
                            </mat-slide-toggle>
                            <div fxFlex="200px">
                                <p-combobox
                                    labelPosition="before"
                                    fxFlex
                                    [settings]="comboboxSettings"
                                    (selectedChange)="comboboxSelect($event)"
                                ></p-combobox
                                >‏
                            </div>
                        </div>

                        <p-simple-grid
                            fxFlex
                            fxLayout="row wrap"
                            fxLayoutAlign="space-between start"
                            *ngIf="!specialView"
                            [groups]="gridGroups"
                            [columns]="fundColumns"
                            (groupClick)="onGroupClick($event)"
                        ></p-simple-grid>

                        <p-special-grid
                            fxFlex
                            *ngIf="specialView"
                            [dic]="dic"
                            [columns]="fundColumns"
                            [mainGroup]="specialGridGroups"
                            [assideGroup]="specialGridGroupsAsside"
                            (groupClick)="onGroupClick($event)"
                        ></p-special-grid>
                    </div>
                </ng-template>
            </mat-tab>

            <mat-tab [label]="dic.tabs.table">
                <ng-template matTabContent>
                    <mat-virtual-table
                        [paginator]="funds.length > 20"
                        [isFilterable]="false"
                        [rows]="funds"
                        [columnsDef]="fundColumns"
                    >
                    </mat-virtual-table>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</ng-container>
