$padding-top: 30px;
#findFund {
    padding-top: $padding-top;
    height: calc(100% - #{$padding-top * 2});
    width: 90%;
    margin: auto;

    .mat-tab-label-active {
        background-color: #ffffff !important;
    }
    .mat-tab-label {
        font-size: 23px;
        font-weight: bold;
    }
    .mat-tab-body-wrapper {
        height: 100%;
        mat-tab-body {
            height: 100%;
        }
    }
    .special {
        width: 100px;
        height: 50px;
        min-height: 50px;
        padding: 10px;
        background-color: #f1f2f6;
        border: solid 1px #dfe4ea;
        margin-bottom: 10px;
        margin-top: 10px;
        &.hasfunds {
            background-color: rgba(30, 144, 255, 0.3) !important;
            border: solid 1px #1e90ff;
        }
    }

    .scrollable-y {
        overflow-y: auto;
    }
}
