@import '../../../assets/styles/material/mat-horizontal-stepper.scss';
:host {
    height: 100%;
    width: 100%;
}

$padding-top: 20px;
#simulation {
    padding-top: $padding-top;
    height: calc(100% - #{$padding-top * 2});
    width: 90%;
    margin: auto;
}

.card {
    border: solid 1px #dfe4ea;
    background-color: #f1f2f6;
}
