<mat-horizontal-stepper
    *ngIf="model"
    #stepper
    labelPosition="bottom"
    id="simulation"
    fxLayout="column"
    fxFlex="90%"
    fxLayoutAlign="center centrt"
    [class]="'selectedIndex' + stepper.selectedIndex + ' mat-stepper-label-position-bottom'"
>
    <mat-step>
        <ng-template matStepLabel>Remove Funds that are not participating the Ranking</ng-template>
        <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start start">
            <div
                fxFlex="390px"
                fxLayoutGap="10px"
                style="height: 50%"
                fxLayout="column"
                fxLayoutAlign="start center"
                [style.background]="'#ffffff'"
            >
                <p-filter
                    [filter]="model.simlulationSettings.excludeFilter"
                    (selectedChange)="mfService.filterSimulationChanged()"
                ></p-filter>
                <mat-divider style="width: 100%;"></mat-divider>
                <button mat-raised-button color="primary">NEXT</button>
                <span>
                    Total exlude:<span dir="ltr">{{ model.totalExclude }}</span>
                </span>
            </div>
            <div fxFlex="16px"></div>
            <div style="padding: 10px;" fxFlex [style.background]="'#ffffff'" fxLayout="row wrap" fxLayoutAlign="space-between">
                <div
                    *ngFor="let group of model.gridGroups"
                    fxLayout="column"
                    fxLayoutAlign="center center"
                    class="card"
                    [class.hasfunds]="group.count > 0"
                >
                    <span>
                        {{ group.name }}
                    </span>
                    <span dir="ltr" *ngIf="group.count < 0">
                        {{ group.count }}
                    </span>
                </div>
            </div>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>step 2</ng-template>
        <div fxFlex fxFill></div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Define Groups for customized Ranking</ng-template>
        <div fxFlex fxFill></div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Define weights for Ranking</ng-template>
        <div fxFlex fxFill></div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Calculate New Customized Ranking</ng-template>
        <div fxFlex fxFill></div>
    </mat-step>
</mat-horizontal-stepper>
