<mat-horizontal-stepper
    *ngIf="model"
    #stepper
    labelPosition="bottom"
    id="simulation"
    fxLayout="column"
    fxFlex="90%"
    fxLayoutAlign="center centrt"
    [linear]="true"
    [selectedIndex]="stepperIndex"
    [class]="'selectedIndex' + stepper.selectedIndex + ' mat-stepper-label-position-bottom'"
>
    <mat-step [completed]="completed[0]">
        <ng-template matStepLabel>{{ dicSimulation.stepper['0'] }}</ng-template>
        <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start start">
            <div class="exludeFundsContainer" fxFlex="390px" fxLayoutGap="8%" fxLayout="column" fxLayoutAlign="start center">
                <div class="exludeTitle" fxFlex="77px">
                    Funds excluded from New Ranking
                </div>
                <div class="filterContainer">
                    <p-filter
                        [filter]="model.simlulationSettings.excludeFilter"
                        (selectedChange)="mfService.filterSimulationChanged()"
                    ></p-filter>
                </div>
                <mat-divider></mat-divider>
                <div class="wrap-button" fxLayout="column" fxLayoutAlign=" center">
                    <button mat-raised-button color="primary" (click)="next(0)">NEXT</button>
                    <span class="excludeTotal">
                        Total exclude:<span dir="ltr">{{ model.totalExclude }}</span>
                    </span>
                </div>
            </div>
            <div fxFlex="16px"></div>

            <p-simple-grid fxLayout="row wrap" fxLayoutAlign="space-between start" [groups]="model.gridGroups"></p-simple-grid>
        </div>
    </mat-step>
    <mat-step [completed]="completed[1]">
        <ng-template matStepLabel>{{ dicSimulation.stepper['1'] }}</ng-template>
        <div class="parameters" fxLayout="column" fxFlex>
            <p-parameter-picker
                [groups]="model.simlulationSettings.customizeParameters"
                [dic]="dicFilters.placeholders"
            ></p-parameter-picker>
            <div fxFlex fxLayout="column" fxLayoutAlign="center center">
                <mat-divider></mat-divider>
                <div class="wrap-button" fxFlex fxLayout="row" fxLayoutAlign="space-evenly center">
                    <button class="button1" mat-raised-button color="basic">
                        Restore default settings
                    </button>
                    <button class="button2" mat-raised-button color="primary" (click)="next(1)">
                        save
                    </button>
                </div>
            </div>
        </div>
    </mat-step>
    <mat-step [completed]="completed[2]">
        <ng-template matStepLabel>{{ dicSimulation.stepper['2'] }}</ng-template>
        <p-select-rank-type (next)="next(2)" [groups]="model.gridGroups" [typeRankFilter]="model.typeRankFilter">
        </p-select-rank-type>
        <!--        <p-customize-ranking [state]="State.selectType" [model]="model"></p-customize-ranking>-->
    </mat-step>
    <mat-step [completed]="completed[3]">
        <ng-template matStepLabel>{{ dicSimulation.stepper['3'] }}</ng-template>
        <p-customize-ranking (next)="next(3)" [model]="model"></p-customize-ranking>
    </mat-step>
    <mat-step [completed]="completed[4]">
        <ng-template matStepLabel>{{ dicSimulation.stepper['4'] }}</ng-template>
        <div fxFlex fxFill></div>
    </mat-step>
</mat-horizontal-stepper>
