.tree {
  ul {
    list-style: none;
    margin-right: 4px;
  }

  .unextended:before {
    content: "+";
    margin-right: 4px;
  }

  .extended:before {
    content: "-";
    margin-right: 4px;
  }
}
