#special-filter-grid {
    .gridContainer {
        width: 470px;
        height: 271px;
        box-shadow: 0 4px 32px 0 rgba(164, 176, 190, 0.16);
        background-color: #f6fbff;
        position: absolute;
        margin: 0 18.4%;
        top: 50%;
        z-index: 2;
    }
}
