<div id="table">
	<mat-form-field>
		<input matInput #filter placeholder="חיפוש">
	</mat-form-field>
	<cdk-virtual-scroll-viewport gridTableVirtualScroll (scrolledIndexChange)="nextBatch($event)">
		<mat-table matSort [dataSource]="dataSource">

			<ng-container *ngFor="let column of columnsDef" matColumnDef="{{ column.field }}">
				<mat-header-cell *matHeaderCellDef>
					<div mat-sort-header>{{ column.title }}</div>
				</mat-header-cell>
				<mat-cell *matCellDef="let row">
					<ng-container *ngIf="column.template else defult" [ngTemplateOutlet]="column.template"
						[ngTemplateOutletContext]="{row:row}">
					</ng-container>
					<ng-template #defult>{{ row[column.field]  }}</ng-template>
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef="progress">
				<mat-header-cell *matHeaderCellDef [attr.colspan]="columnsDef.length">
					<mat-progress-bar mode="indeterminate" [class.show]="pending">
					</mat-progress-bar>
				</mat-header-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="columns; sticky: sticky" [style.top.px]="offset | async">
			</mat-header-row>
			<mat-header-row class="progress" *matHeaderRowDef="['progress']; sticky: sticky"
				[style.top.px]="(offset | async) + 56">
			</mat-header-row>
			<mat-row *matRowDef="let row; columns: columns"></mat-row>

		</mat-table>
	</cdk-virtual-scroll-viewport>
</div>