<cdk-virtual-scroll-viewport gridTableVirtualScroll
	(scrolledIndexChange)="nextBatch($event)">
	<mat-table matSort [dataSource]="dataSource" [trackBy]="id">

		<ng-container *ngFor="let column of visibleColumns; let i = index" matColumnDef="{{ column.field }}">
			<mat-header-cell *matHeaderCellDef>
				<div mat-sort-header>{{ column.field }}</div>
			</mat-header-cell>
			<mat-cell *matCellDef="let row">{{ row[column.field] }}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="progress">
			<mat-header-cell *matHeaderCellDef [attr.colspan]="displayedColumns.length">
				<mat-progress-bar mode="indeterminate" [class.show]="pending">
        </mat-progress-bar>
			</mat-header-cell>
    </ng-container>

		<mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: sticky"
      [style.top.px]="offset | async">
    </mat-header-row>
		<mat-header-row
      class="progress"
      *matHeaderRowDef="['progress']; sticky: sticky"
      [style.top.px]="(offset | async) + 56">
    </mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

	</mat-table>
</cdk-virtual-scroll-viewport>