<div id="topbar" fxFlex="100" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="200px">
        <div fxFlex="93px" class="logout" fxLayoutAlign="center">
            <p-nav-menu [items]="model?.menuItems"></p-nav-menu>
        </div>
        <button class="logout" mat-stroked-button>{{model?.logoutTitle}}</button>
    </div>
    <div fxFlex fxLayoutAlign="center center">
        <a *ngFor="let link of model?.routerLinks" class="tab" mat-flat-button [routerLink]="link.link"
            routerLinkActive="active">{{link.title}}</a>
    </div>
    <div fxFlex="200px">
        <img class="logo" [src]="model.logo || 'favicon.ico'" />
    </div>
</div>