<div [ngClass]="{ dialog: isSmall }" fxLayout="column" fxFlex style="background-color:#ffffff;  color: #2f3542;height: 60%;">
    <div class="text" fxFlex="100px" style="line-height: 80px;" fxLayoutAlign="center ">
        <span>{{ title || 'Customize parameters' }}</span>
    </div>
    <div fxLayout="row" fxFlex="250px" fxLayoutAlign="space-between " [ngStyle]="{ padding: isSmall == true ? '' : '0 12.7%' }">
        <div fxLayout="column" fxFlex="200px" style="height: 245px" *ngFor="let group of groups">
            <div calss="groupName" fxFlex="60px" style="height: 80px;line-height: 80px;" fxLayoutAlign="start">
                <span class="text">{{ dic[group.name] || group.name }}</span>
            </div>
            <div fxFlex="80%" fxLayout="column" style="overflow: auto">
                <div *ngFor="let parameter of group[childrenPatameterName]" fxLayout="row">
                    <mat-checkbox [(ngModel)]="parameter[bindingParamterName]">{{
                        dic[parameter[parameterTitleName]] || parameter[parameterTitleName]
                    }}</mat-checkbox>
                </div>
            </div>
        </div>
    </div>
</div>
