<div fxLayout="row">
    <div
        *ngFor="let p of group; let i = index"
        [fxFlex]="p.percent + '%'"
        (mousemove)="mousemove($event, i)"
        (mousedown)="resizeTable($event, i)"
    >
        <div
            [style.border-right-color]="color + 20"
            style=" height: 100%; position: absolute;top: 0 ;border-right-style: dotted  ; border-right-width: 2px"
            [fxFlex]="p.percent + '%'"
        ></div>
        <div fxFlex></div>
        <div
            fxFlex="14px"
            *ngIf="i < group.length - 1"
            [style.border-color]="color"
            class="thumb"
            [style.cursor]="inMove ? 'grabbing' : 'grab'"
        ></div>
    </div>
</div>
