    .content {
        height: 100%;
        background-color: #f1f2f6;
        padding: 20px;
    }
    .edit {
        display: none;
    }
    .mat-row {
        color: #000;
        :hover {
            .edit {
                display: block;
            }
        }
    }
