<div id="admin" dir="rtl">
    <p-topbar [model]="topbarModel"></p-topbar>
    <div class="content" *ngIf="users">
        <mat-virtual-table fxFlex [rows]="users" [filterPlaceholder]="'חיפוש'" [paginator]="true"
                           [columnsDef]="columns">
            <ng-template pCellDef column="edit" let-row="row">
                <mat-icon class="edit" (click)="openEditUserDialog(row._id)">edit</mat-icon>
            </ng-template>
            <ng-template pCellDef column="email" let-row="row">
                <b>{{ row.email }}</b>
            </ng-template>
            <ng-template pCellDef column="name" let-row="row">{{ row.name }} </ng-template>
        </mat-virtual-table>
    </div>
</div>
