<div id="poly" *ngIf="userFiltersSettings">
    <mat-grid-list gutterSize="10px" cols="4" rowHeight="fit">
        <mat-grid-tile colspan="1" [style.background]="'#ffffff'" fxLayout="column" fxLayoutAlign="start center">
            <div fxLayout="column" fxLayoutAlign="start center">
                <h2>FILTERS</h2>
                <p-autocomplete (selectedChange)="filterSelected($event)" [settings]="userFiltersSettings"
                    [filterFn]="filterFn"></p-autocomplete>
                <mat-slide-toggle>advanced view</mat-slide-toggle>
                <p-filters></p-filters>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan="3">
            <div fxLayout="column" fxLayoutAlign="start center" fxFlex="100">
                <mat-tab-group mat-stretch-tabs  fxFlex="100">
                    <mat-tab label="Grid"> Content 1 </mat-tab>
                    <mat-tab label="Table">
                        <p-table *ngIf="funds" [rows]="funds" [columnsDef]="fundColumns">
                        </p-table>
                    </mat-tab>
                    <mat-tab label="Charts"> Content 3 </mat-tab>
                </mat-tab-group>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<!-- Visual Studio Code is unable to watch for file changes in this large workspace. Please follow the instructions link to resolve this issue. -->