$padding-top: 30px;
#poly {
  padding-top: $padding-top;
  height: calc(100% - #{$padding-top * 2});
  width: 90%;
  margin: auto;
  mat-grid-list {
    height: 100%;
  }

  .mat-tab-label-active {
    background-color: #ffffff !important;
  }
  .mat-tab-label {
    font-size: 23px;
    font-weight: bold;
  }
  .mat-tab-body-wrapper {
    height: 100%;
    mat-tab-body {
      height: 100%;
    }
  }
}
