<div id="poly">
    <mat-grid-list cols="4" rowHeight="fit">
        <mat-grid-tile colspan="1" [style.background]="'#ffffff'">
            <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
                <h2>FILTERS</h2>
                <p-autocomplete [settings]="{}" ></p-autocomplete>
                <mat-slide-toggle color="#1e90ff">advanced view</mat-slide-toggle>
                <p-filters></p-filters>

            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" [style.background]="'lightblue'">
        </mat-grid-tile>
    </mat-grid-list>
</div>