   <ng-container *ngIf="selectedPanel">


    <div><span>עריכת פנל {{this.selectedPanel.panelId}} {{selectedPanel.address}}</span></div>
    <div class="content" fxLayout="row" *ngIf="selectedPanel">

        <div fxFlex fxLayout="column" style="padding: 25px">
            <mat-tab-group fxFlex mat-stretch-tabs>
                <mat-tab label="contacts">
                    <ng-template matTabContent>
                        <p-contacts [contacts]="selectedPanel.contacts" [inProgress]="inProgress" (sendStatus)="status($event)"></p-contacts>
                    </ng-template>
                </mat-tab>
                <mat-tab label="settings">
                    <ng-template matTabContent>
                        <mat-accordion fxFlex>
                            <mat-expansion-panel *ngFor="let group of selectedPanel.settings">
                                <mat-expansion-panel-header>
                                    {{ group.name }}
                                </mat-expansion-panel-header>
                                <ng-template matExpansionPanelContent>
                                    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                                        <ng-container *ngFor="let field of group.fields">
                                            <mat-form-field style="margin: 20px;" *ngIf="field.type === FieldType.text">
                                                <input matInput (change)="settingsChange = 1" [placeholder]="field.name" [(ngModel)]="field.value" />
                                            </mat-form-field>
                                            <mat-form-field style="margin: 20px;" *ngIf="field.type === FieldType.list">
                                                <mat-label>{{ field.name }}</mat-label>
                                                <select  (ngModelChange)="settingsChange = 1" [(ngModel)]="field.value" matNativeControl>
                                                    <option *ngFor="let option of field.options()" [value]="option">{{
                                                        option
                                                    }}</option>
                                                </select>
                                            </mat-form-field>
                                            <div style="margin: 20px;" *ngIf="field.type === FieldType.yesNo">
                                                <div fxFlex="200px">{{ field.name }} :</div>
                                                <div fxFlex="110px">
                                                    YES
                                                    <mat-slide-toggle
                                                        (change)="field.value = $event.checked ? 'Y' : 'N';settingsChange = 1"
                                                        [checked]="field.value && field.value != '0' && field.value != 'N'"
                                                    >
                                                    </mat-slide-toggle>
                                                    NO

                                                </div>
                                            </div>

                                            <div style="margin: 20px;" *ngIf="field.type === FieldType.timer">
                                                <fieldset>
                                                    <legend>{{ field.name }}</legend>
                                                    <div fxLayout="row">
                                                        <div fxLayout="column">
                                                            <mat-checkbox
                                                                *ngFor="
                                                                    let op of ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'];
                                                                    let day = index
                                                                "
                                                                [checked]="field.value['day'][day]"
                                                                >{{ op }}</mat-checkbox
                                                            >
                                                        </div>
                                                        <div fxLayout="column">
                                                            <mat-form-field style="margin: 10px;width: 100px">
                                                                <input
                                                                    matInput
                                                                    [(ngModel)]="field.value['from']"
                                                                    placeholder="from"
                                                                    [ngxTimepicker]="from"
                                                                    [format]="24"
                                                                    readonly
                                                                />
                                                                <ngx-material-timepicker
                                                                    [dir]="'ltr'"
                                                                    #from
                                                                ></ngx-material-timepicker>
                                                            </mat-form-field>
                                                            <mat-form-field style="margin: 10px; width: 100px">
                                                                <input
                                                                    matInput
                                                                    [(ngModel)]="field.value['to']"
                                                                    placeholder="to"
                                                                    [ngxTimepicker]="to"
                                                                    [format]="24"
                                                                    readonly
                                                                />
                                                                <ngx-material-timepicker
                                                                    [dir]="'ltr'"
                                                                    #to
                                                                ></ngx-material-timepicker>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </ng-container>
                                    </div>
                                </ng-template>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
            <div  fxLayout="row" fxFlexAlign="center space-between" fxFlex="50px" >
                <div fxLayout="row" fxFlexAlign="start center" fxFlex="900px" fxLayout>
                    <button (click)="save()" style="height: 50px" mat-button>שמור</button>
                    <button (click)="cancel()" style="height: 50px" mat-button>בטל</button>
                    <button (click)="sentAll()" style="height: 50px" mat-button>שלח הכל</button>
                    <button (click)="getAll()" style="height: 50px" mat-button>קבל הכל</button>
                    <button (click)="sentChanges()" style="height: 50px" mat-button>{{ sendChangesLabel }}</button>
                    <button (click)="removeChanges()" style="height: 50px" mat-button>מחק שינויים</button>
                    <button (click)="removeGreenChanges()" style="height: 50px" mat-button>ביטול סימון-התקבלו</button>
                    <button mat-button style="height: 50px" (click)="dump()">הורד</button>
                    <div style="height: 50px" class="upload-btn-wrapper">
                        <button mat-button>העלה</button>
                        <input type="file" name="myfile" (change)="handleFileInput($event.target.files)" />
                    </div>
                    <button (click)="reset()" style="height: 50px" mat-button>שחזר ברירת מחדל </button>
                    <button (click)="status(ActionType.powerUp)" style="height: 50px" mat-button>Power Up </button>
                </div>
                <div (click)="openLog()" *ngIf="logs[0]" fxLayout="column" fxFlexAlign="center center" fxFlex   style="height: 50px; direction: ltr; justify-content: center;" >
                    <div fxFlex="50%" fxLayout="row" >
                        <span fxFlex="100px">{{logs[0].time | date : "HH:MM:SS"}}</span>
                        <!--                    <span> - </span>-->
                        <span fxFlex="100px">{{logs[0].type}}</span>
                        <!--                    <span> - </span>-->
                        <span fxFlex="200px">{{logs[0].msg}}</span>
                        <!--                    <span> - </span>-->
                        <span fxFlex>{{logs[0].result}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </ng-container>
