<div [dir]="i18nService.dir">
    <p-topbar [model]="topbarModel" [inProgress]="!selectedPanel"></p-topbar>
    <div class="content" fxLayout="row" *ngIf="selectedPanel">
        <p-autocomplete
                (selectedChange)="selectedPanel = $event" [keepOpen]="true"
                        [settings]="autocompleteSettings"></p-autocomplete>
        <mat-tab-group #tabGroup mat-stretch-tabs fxFlex="100">
            <mat-tab label="general" fxFlexFill fxLayout="column" fxFlexAlign="center center">
                <div>
                    <mat-form-field>
                        <input [value]="selectedPanel._id" disabled matInput placeholder="טלפון">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="שם" [(ngModel)]="selectedPanel.name">
                    </mat-form-field>
                    <p>
                        <mat-form-field>
                            <input matInput placeholder="Address">{{selectedPanel.address}}>
                        </mat-form-field>
                    </p>

                    <mat-form-field>
                        <input matInput placeholder="סוג" disabled [(ngModel)]="selectedPanel.type">
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="גירסה" [(ngModel)]="selectedPanel.version">
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="contacts">
                <ng-template matTabContent>
                    <p-contacts [contacts]="selectedPanel.contacts"></p-contacts>
                </ng-template>
            </mat-tab>
            <mat-tab label="settings"> Content 3</mat-tab>
        </mat-tab-group>
    </div>
</div>
