<mat-form-field style="width: 100%;" floatLabel="always" [appearance]="appearance">
    <mat-label *ngIf="chips && title">{{ title }}</mat-label>
    <div fxLayout="row wrap" (click)="setInputFocus()">
        <mat-chip-list *ngIf="chips">
            <mat-chip
                *ngFor="let selectedOption of settings?.selected"
                [removable]="true"
                (removed)="optionDeSelected(selectedOption)"
            >
                {{ selectedOption.name }}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>

        <input
            style="width: auto !important;"
            id="input"
            matInput
            [placeholder]="!settings.selected ? placeholder : ''"
            [matAutocomplete]="auto"
            [formControl]="input"
        />
    </div>
    <mat-autocomplete
        #auto
        [displayWith]="displayFn"
        [class.maxHight]="keepOpen"
        (optionSelected)="optionSelected($event.option.value)"
    >
        <mat-option
            *ngFor="let option of filteredOptions | async"
            [class.selected]="keepOpen && settings.selected && settings.selected._id === option._id"
            [value]="option"
            [disabled]="option.isDisabled"
        >
            <div fxLayout="row" fxFlex>
                <span fxFlex> {{ option.name }}</span>
                <div fxFlex="20px" [title]="removeTitle" *ngIf="canRemove">
                    <mat-icon style="cursor: pointer;" (click)="remove(option, $event)">clear</mat-icon>
                </div>
            </div>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
