<mat-form-field #matForm [appearance]="appearance" (click)="clear($event)">
  <mat-chip-list *ngIf="chips">
    <mat-chip *ngFor="let selectedOption of settings.selected" [removable]="true"
      (removed)="optionDeSelected(selectedOption)">
      {{selectedOption.name}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>

  <input id="input" matInput [placeholder]="settings.placeholder" [matAutocomplete]="auto" [formControl]="input" >

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
    (optionSelected)="optionSelected($event.option.value)">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>