.mat-stepper-horizontal {
    background-color: #ffffff00;
}
::ng-deep .mat-horizontal-content-container,
::ng-deep .mat-stepper-horizontal,
::ng-deep .mat-horizontal-stepper-content {
    height: 100%;
}
::ng-deep .mat-horizontal-stepper-header-container {
    width: 70%;
    align-self: center;
}

.mat-stepper-horizontal-line {
    border-top-style: solid;
}

::ng-deep .mat-stepper-horizontal-line {
    border-top-width: 1px !important;
    width: 100%;
    top: 10px !important;
}

::ng-deep .mat-horizontal-stepper-header {
    height: 72px !important;
    padding: 0 10px !important;
    .mat-stepper-horizontal-line {
        top: 10px !important;
    }
    .mat-step-label {
        position: fixed;
        margin-top: 15px;
        width: 200px !important;
        white-space: pre-wrap;
        text-align: center;
    }
    &::before {
        width: 0;
    }
}
.selectedIndex0 {
}
@for $i from 1 through 10 {
    .selectedIndex#{$i} {
        @extend .selectedIndex#{$i - 1};
        ::ng-deep .mat-stepper-horizontal-line:nth-child(#{$i * 2}) {
            border-top-width: 4px !important;
            border-top-color: #3f51b5 !important;
        }
    }
}

//.selectedIndex1 {
//    ::ng-deep .mat-stepper-horizontal-line:nth-child(2) {
//        border-top-width: 4px !important;
//        border-top-color: #3f51b5 !important;
//    }
//}
//.selectedIndex2 {
//    @extend .selectedIndex1;
//    ::ng-deep .mat-stepper-horizontal-line:nth-child(4) {
//        border-top-width: 4px !important;
//        border-top-color: #3f51b5 !important;
//    }
//}
//.selectedIndex3 {
//    @extend .selectedIndex2;
//    ::ng-deep .mat-stepper-horizontal-line:nth-child(6) {
//        border-top-width: 4px !important;
//        border-top-color: #3f51b5 !important;
//    }
//}
//
//.selectedIndex4 {
//    @extend .selectedIndex3;
//    ::ng-deep .mat-stepper-horizontal-line:nth-child(8) {
//        border-top-width: 4px !important;
//        border-top-color: #3f51b5 !important;
//    }
//}
