.mat-stepper-horizontal {
    background-color: #ffffff00;
}
::ng-deep .mat-horizontal-content-container,
::ng-deep .mat-stepper-horizontal,
::ng-deep .mat-horizontal-stepper-content {
    height: 100%;
}
::ng-deep .mat-horizontal-stepper-header-container {
    width: 70%;
    height: 96px;
    align-self: center;
}

.mat-stepper-horizontal-line {
    border-top-style: solid;
}

::ng-deep .mat-stepper-horizontal-line {
    border-top-width: 4px !important;
    width: 70%;
    top: 10px !important;
}

::ng-deep .mat-horizontal-stepper-header {
    padding: 0 10px !important;
    .mat-stepper-horizontal-line {
        top: 10px !important;
    }
    .mat-step-label {
        position: fixed;
        margin-top: 15px;
        width: 200px !important;
        white-space: pre-wrap;
        text-align: center;
    }
    &::before {
        width: 0;
    }
}
.selectedIndex0 {
}
@for $i from 1 through 10 {
    .selectedIndex#{$i} {
        @extend .selectedIndex#{$i - 1} !optional;
        ::ng-deep .mat-stepper-horizontal-line:nth-child(#{$i * 2}) {
            border-top-width: 4px !important;
            border-top-color: #1e90ff !important;
        }
    }
}
