<div gdRows="repeat(20, [row] 1fr)" gdColumns="repeat(20, [col] 1fr)" class="contuct">
    <span gdArea=" 2 / 3 / 2 / 3" class="x" (click)="Close()">X</span>
    <span gdArea=" 4 / 12 / 5 / 19" class="contuct_us">{{ dic.sitePage.systems.contactUs }}</span>
    <form gdArea=" 6 / 5 / 18 / 20" style="width: 92%;height: 70%" autocomplete="off" *ngIf="form && dic">
        <p-text-box appearance [form]="form.controls['email']" name="email" [placeholder]="'email'"></p-text-box>
        <p-text-box appearance [form]="form.controls['name']" name="name" [placeholder]="'name'"></p-text-box>
        <p-text-box appearance [form]="form.controls['company']" name="company" [placeholder]="'company'"></p-text-box>
        <p-text-box appearance [form]="form.controls['phone']" name="phone" [placeholder]="'phone'"></p-text-box>
        <textarea appearance name="message" [placeholder]="'message'"></textarea>
    </form>
    <button gdArea=" 17 / 5 / 18 / 19" mat-raised-button color="primary">שמירה</button>
</div>
