<mat-accordion id="group-view">
    <mat-expansion-panel *ngFor="let child of model.group.children">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ child.name }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <mat-virtual-table
                [paginator]="child.length > 20"
                [isFilterable]="false"
                [rows]="child.items"
                [columnsDef]="model.columnsDef"
            >
            </mat-virtual-table>
        </ng-template>
    </mat-expansion-panel>
</mat-accordion>
