<div fxLayout="column">
    <span>{{ settings.placeholder }}</span>
    <mat-radio-group (change)="change($event.value)" fxLayout="column">
        <mat-radio-button [value]="undefined" [checked]="!settings.selected">
            none
        </mat-radio-button>
        <mat-radio-button
            *ngFor="let option of settings.options"
            [checked]="!!settings.selected && option._id === settings.selected._id"
            [value]="option"
            >{{ option.name }}</mat-radio-button
        >
    </mat-radio-group>
</div>
