<div id="login-page" >
  <div class="login-main center">
      <div class="login-logo">
        <img src="favicon.ico" />
      </div>
      <form autocomplete="off" *ngIf="form" >
        <p-text-box [form]="form.controls['email']" name='email' [placeholder]='dic.email'></p-text-box>
        <p-text-box [form]="form.controls['password']" name='password' [placeholder]='dic.password'>></p-text-box>
        <button (click)="login($event)" [disabled]='form.invalid' mat-raised-button color="primary">{{dic.login}}</button>
      </form>
  </div>
</div>