#login-page {
    background-image: linear-gradient(to top, #1e90ff, #70a1ff);
    -moz-osx-font-smoothing: grayscale;
    width: calc(100vw);
    height: calc(100vh);
    font-family: 'Roboto', sans-serif;

    .login-main {
        width: 470px;
        height: 411px;
        background: #ffffff;
        padding-right: 5em;
        padding-left: 5em;
        padding-top: 40px;
        .login-logo {
            margin-bottom: 30px;
            text-align: center;

            img {
                width: 70px;
                height: 70px;
                object-fit: contain;
            }
        }

        ::ng-deep {
            .save_button {
                text-transform: uppercase;
                width: 100%;
                padding: 4px;
                color: #ffffff;
                font-size: 14px;
                cursor: pointer;
                border-color: #1e90ff;
                background: #70a1ff;
            }

            p-text-box {
                width: 100%;
                .mat-form-field-should-float {
                    .mat-form-field-label {
                        top: 40px;
                    }
                }
                ::ng-deep.mat-form-field-infix {
                    border-top: 0 !important;
                }

                ::ng-deep.mat-form-field-flex {
                    height: 42px;
                }

                ::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
                    padding: 14px 0 0 0 !important;
                }

                ::ng-deep .mat-input-element {
                    padding: 0 0 1px !important;
                    font-size: 13px !important;
                }
            }
        }
    }
}
