<div id="login-page" [class]="currentSystem" [style.background]="settings[currentSystem]?.background" [dir]="i18nService.dir">
    <div class="login-main center" fxLayout="column" [ngStyle]="{ height: state === 'login' ? '411px' : '470px' }">
        <div fxFlex="110px" style="width: 100%;" fxLayoutAlign="center">
            <svg-icon src="assets/img/svgs/logoLogin.svg"></svg-icon>
        </div>
        <div fxFlex>
            <p-form *ngIf="dic && this.state === 'login'" [formModel]="loginFormModel" (submit)="login($event)"> </p-form>
            <p-form *ngIf="dic && this.state === 'signin'" [formModel]="signinFormModel" (submit)="signin($event)"> </p-form>
        </div>

        <span fxFlex="20px" *ngIf="loginError">{{ loginError }}</span>
    </div>
</div>
