@import '../site.component';
.container {
    height: 100vh;
    position: relative;

    p-system {
        background-color: white;
    }
    .praedicta {
        position: absolute;
        top: 5%;
        left: 50%;
    }
}
