@import '../site.component';
.container {
    height: 100vh;
    position: relative;

    p-system {
        background-color: white;
    }
    line {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .praedicta {
        .fill {
            fill: #b6cfe7;
        }
        position: absolute;

        top: 5%;
    }
}
