@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=Rubik);

$small-screen: 376px;
$medium-screen: 768px;
$large-screen: 1439px;
$font-family: Poppins;

@mixin letter($font-size, $letter-spacing, $line-height: normal, $font-weight: normal, $font-family: Poppins, $color: #54678c) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    font-style: normal;
    font-stretch: normal;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    color: $color;
}

@mixin envelope($color) {
    width: 28px;
    height: 23px;
    border: 2px solid $color;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 4px;

    &::before,
    &::after {
        border-bottom: 2px solid $color;
        position: absolute;
        display: block;
        content: '';
    }
    &::before {
        top: 0;
        left: 0;
        width: 16px;
        height: 5px;
        -webkit-transform: rotate(35deg);
        -moz-transform: rotate(35deg);
        -ms-transform: rotate(35deg);
        -o-transform: rotate(35deg);
        transform: rotate(35deg);
    }
    &::after {
        top: 0;
        left: 8px;
        width: 16px;
        height: 5px;
        -webkit-transform: rotate(-35deg);
        -moz-transform: rotate(-35deg);
        -ms-transform: rotate(-35deg);
        -o-transform: rotate(-35deg);
        transform: rotate(-35deg);
    }
}

.container {
    .envelope-icon {
        position: absolute;
        background: #ff9578;
        width: 4em;
        height: 4em;
        border-radius: 50%;
        bottom: 5%;

        .envelope {
            @include envelope(#ffffff);
        }
    }
}
.en-he {
    cursor: pointer;
    position: absolute;
    top: 0;
    padding: 3em 3em;
    z-index: 999;
    @include letter(14px, 0.5px, 2);
}
