<mat-accordion>
    <div style="margin-top: 1px;" [@.disabled]="true" fxLayout="column" fxLayoutGap="1px">
        <mat-expansion-panel
            class="background"
            *ngFor="let group of groups; let panelOpenState = false; let i = index"
            (closed)="panelOpenState = false"
            (opened)="panelOpenState = true; opened(i)"
        >
            <mat-expansion-panel-header [class.mat-expansion-panel-header-close]="!panelOpenState">
                <div fxLayout="column" style="width: 100%;height: 100%">
                    <!--                    <mat-checkbox-->
                    <!--                        color="primary"-->
                    <!--                        (change)="selectedChange.emit()"-->
                    <!--                        [(ngModel)]="group.isActive"-->
                    <!--                        class="groupTitle"-->
                    <!--                        (click)="$event.stopPropagation()"-->
                    <!--                        [disabled]="!group.OnlyFilterWithSelected.length"-->
                    <!--                    >-->
                    <!--                        <b (click)="groupNameClick($event)" class="filterTitle">{{ dic[group.name] || group.name }}</b>-->
                    <!--                    </mat-checkbox>-->
                    <span>
                        <b class="groupTitle" (click)="groupNameClick($event)" class="filterTitle">{{
                            dic.placeholders[group.name] || group.name
                        }}</b>
                    </span>

                    <div class="wrapCheckbox" fxLayout="column">
                        <div *ngIf="!panelOpenState && group.OnlyFilterWithSelected.length" fxLayout="column">
                            <mat-checkbox
                                (click)="groupNameClick($event)"
                                color="primary"
                                *ngFor="let filter of group.OnlyFilterWithSelected"
                                (change)="selectedChange.emit()"
                                [(ngModel)]="filter.isActive"
                            >
                                {{ dic.placeholders[filter.optionIdPath] || filter.placeholder || filter.optionIdPath }}
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <ng-container *ngFor="let filter of group.filtersToShow">
                    <div *ngIf="filter.getOptions(dataSource).length" style="margin: 15px 0" fxLayout="row">
                        <mat-checkbox
                            color="primary"
                            fxFlex="50px"
                            fxLayoutAlign="start center"
                            [(ngModel)]="filter.isActive"
                            (change)="selectedChange.emit()"
                        >
                        </mat-checkbox>

                        <p-filter
                            [dataSource]="dataSource"
                            fxFlex
                            (selectedChange)="selectedChange.emit()"
                            [filter]="filter"
                            [dic]="dic"
                        >
                        </p-filter>
                    </div>
                </ng-container>
            </ng-template>
        </mat-expansion-panel>
    </div>
</mat-accordion>
