@import '../../mf.component.scss';
:host {
    width: 100%;
    .background {
        //background: linear-gradient(to bottom, #ffffff 45px, #f8f8fa 0%);
        //border-top: #f1f2f6 1px solid;
    }

    .mat-expansion-panel:not([class*='mat-elevation-z']) {
        box-shadow: none !important;
    }
    .mat-expansion-panel-spacing {
        // margin: 0 !important;
    }
    .wrapCheckbox {
        padding: 11px 11px 0 0;
    }
    ::ng-deep .mat-expansion-panel-content {
        overflow: auto !important;
        max-height: 420px !important;
        background: #f8f8fa;
    }
    .mat-expansion-panel-header-close {
        height: 100% !important;
        //margin: 10px 5px 0 0;
    }
    .mat-expansion-panel-header.mat-expanded {
        height: auto !important;
    }
    .mat-checkbox {
        width: 20% !important;
    }
    .filterTitle {
        @include letterMf();
    }
}
