<div>
  <button (click)="keyPress('1')" mat-fab>1</button>
  <button (click)="keyPress('2')" mat-fab>2</button>
  <button (click)="keyPress('3')" mat-fab>3</button>
</div>
<div>
  <button (click)="keyPress('4')" mat-fab>4</button>
  <button (click)="keyPress('5')" mat-fab>5</button>
  <button (click)="keyPress('6')" mat-fab>6</button>
</div>
<div >
  <button (click)="keyPress('7')" mat-fab>7</button>
  <button (click)="keyPress('8')" mat-fab>8</button>
  <button (click)="keyPress('9')" mat-fab>9</button>
</div>
<div>
  <button (click)="keyPress('*')" mat-fab>*</button>
  <button (click)="keyPress('0')" mat-fab>0</button>
  <button (click)="keyPress('#')" mat-fab>#</button>
</div>