@import '../site.component';

.bonds {
    span {
        &.title {
            @include letter(50px, 1.6px, $font-weight: bold, $font-family: Rubik, $color: #feffdf);
        }
    }
    p {
        padding: 0 3em;
        margin: 0;
        @include letter(14px, 0.5px, 2, $font-family: Rubik, $color: #feffdf);
    }
}
.holdings {
    span {
        &.title {
            @include letter(50px, 1.6px, $font-weight: bold, $font-family: Rubik, $color: #f5e1db);
        }
    }
    p {
        padding: 0 6em;
        margin: 0;
        @include letter(14px, 0.5px, 2, $font-family: Rubik, $color: #f5e1db);
    }
}
.otherSolution {
    span {
        &.title {
            @include letter(50px, 1.6px, $font-weight: bold, $font-family: Rubik, $color: #b6cfe7);
        }
    }
    p {
        padding: 0 3em;
        margin: 0;
        @include letter(14px, 0.5px, 2, $font-family: Rubik, $color: #b6cfe7);
    }
}
.contactUs {
    span {
        &.title {
            @include letter(50px, 2.3px, 1, $font-weight: bold, $font-family: Rubik, $color: #feffdf);
        }
    }
    p {
        padding: 0 3em;
        margin: 0;
        @include letter(16px, 0.6px, 1.75, $font-family: Rubik, $color: #feffdf);
    }
}
//path {
//    fill: transparent;
//}
//
//text {
//    font-size: 132px;
//    opacity: 0.04;
//    fill: #feffdf;
//}
