:host {
    width: 100%;
    height: 100%;
    .triangle {
        width: 0;
        height: 0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;

        border-top: 13px solid #ffa502;
    }

    .group {
        min-width: 0px;
    }

    [dir='ltr'] .thumb {
        margin-right: -10px;
    }
    [dir='rtl'] .thumb {
        margin-left: -10px;
    }

    .thumb {
        border-radius: 50%;
        margin-right: -7px;
        border: 3px solid rgba(0, 0, 0, 0.26);
        width: 14px;
        height: 14px;
    }
}
