@import '../../../../mf.component';
:host {
    width: 100%;
    height: 100%;
    ::ng-deep #grid {
        padding: 0 !important;
    }
    .triangle {
        width: 0;
        height: 0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        &.up {
            border-top: 13px solid #ffa502;
        }
        &.down {
            border-bottom: 13px solid #ffa502;
        }
    }
    ::ng-deep.mat-checkbox-inner-container {
        width: 20px !important;
        height: 20px !important;
        border: solid 1px #ced6e0 !important;
    }
    ::ng-deep.mat-checkbox-frame {
        border-style: none !important;
    }
    ::ng-deep.mat-checkbox-checkmark-path {
        stroke: black !important;
    }

    ::ng-deep.mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background: none !important;
    }

    .group {
        min-width: 0px;
    }

    [dir='ltr'] .thumb {
        margin-right: -10px;
    }
    [dir='rtl'] .thumb {
        margin-left: -10px;
    }

    .thumb {
        border-radius: 50%;
        margin-right: -7px;
        border: 3px solid rgba(0, 0, 0, 0.26);
        width: 14px;
        height: 14px;
    }
    ::ng-deep {
        .mat-checkbox-checkmark-path {
            stroke: black !important;
        }
        .mat-checkbox-inner-container {
            margin-left: 16px !important;
            margin-bottom: 6px;
        }
        .mat-checkbox-frame {
            border-style: none !important;
        }
        .mat-checkbox-layout {
            padding: 0 16px;
        }
    }

    .percent {
        @include letterMf($font-size: 14px, $letter-spacing: 0.5px, $font-family: Poppins, $color: white);
    }
}
