<div fxLayout="column" fxFill>
    <div fxFlex="9px" fxLayout="row">
        <div *ngFor="let group of groups.parameterGroups" [fxFlex]="group.percent + '%'">
            <div fxFlex></div>
            <div fxFlex="13px" class="triangle" [style.border-top-color]="groups.color"></div>
        </div>
    </div>
    <div fxFlex="8px" [style.background-color]="groups.color"></div>
    <div fxFlex fxLayout="row">
        <div
            class="group"
            *ngFor="let group of groups.parameterGroups; let i = index"
            [style.background-color]="hexToRgbA(groups.color, selectedGroup.name === group.name ? 0.05 : 0.02)"
            fxLayout="row"
            [fxFlex]="group.percent + '%'"
        >
            <div fxFlex fxFill fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <span fxFlex="50px">{{ group.name }}</span>
                    <span>{{ group.percent | number: '.0-2' }}%</span>
                </div>
                <div (click)="selectedGroup = group" fxFlex fxFlexFill fxLayout="column" style="overflow: auto;width: 100%">
                    <div *ngFor="let parameter of group.parameters" fxLayout="row">
                        <mat-checkbox
                            (change)="parameter.isActive = $event.checked; resetPercent(group)"
                            [value]="parameter.isActive"
                            >{{
                                parameter.name +
                                    (parameter.isActive && group.name === selectedGroup.name
                                        ? ' - ' + (getPercentFromTotal(group, parameter) | number: '.0-2') + '%'
                                        : '')
                            }}</mat-checkbox
                        >
                    </div>
                </div>
                <div
                    fxFlex="50px"
                    fxLayoutAlign="center center"
                    fxLayout="row"
                    #headercell
                    (mousemove)="mousemove($event, i)"
                    (mousedown)="resizeTable($event, i)"
                >
                    <p-multi-slider-range-selector
                        [style.background]="groups.color"
                        fxFlex
                        [color]="groups.color"
                        [group]="group.activeParameters"
                    >
                    </p-multi-slider-range-selector>
                    <div
                        fxFlex="14px"
                        *ngIf="i < groups.parameterGroups.length - 1"
                        [style.border-color]="groups.color"
                        class="thumb"
                        [style.cursor]="inMove ? 'grabbing' : 'grab'"
                    ></div>
                </div>
            </div>
        </div>
    </div>
</div>
