<div class="container" *ngIf="dic.systemPage[model.systemName]">
    <div class="circle" fxFlex fxLayoutAlign="end end" [ngClass]="{ 'he': hover && dir === 'rtl', 'eng' : hover == true && dir === 'ltr'}">
        <svg class="move_circle" width="100%" height="100%" >
            <circle [ngStyle]="{ 'cx': dir === 'rtl'? model.cxCircleHe : model.cxCircleEng}" [style.cy]="model.cyCircle" r="80" [style.stroke]="model.colorCircle" stroke-width="40" opacity=".08" fill="none" />
        </svg>
    </div>
    <div
            (mouseenter)="hover = true"
        (mouseleave)="hover = false"
        class="hover"
        fxLayout="column"
        [ngStyle]="{ background: hover == true ? model.hoverbackground : 'white' }"
        fxLayoutAlign="end center"
    >
        <div style="height: 73.3%">
            <span class=" text_entered" fxLayoutAlign="start" >{{ dic.sitePage.systems[model.systemName] }}</span>
            <pre
                class="text_entered"
            ><span  fxLayoutAlign="start" class="textHover" >{{ dic.systemPage[model.systemName].contentHover }}</span></pre>
        </div>
        <span class="title" [ngClass]="getPositionClass()">{{ dic.sitePage.systems[model.systemName] }}</span>
    </div>
</div>


<!--        <svg  class="move_circle"  width="150" height="145" viewBox="0 0 150 145">-->
<!--            <path [style.fill]="model.colorCircle"  fill-rule="nonzero" d="M145 202.112c-12.328 5.084-25.837 7.888-40 7.888C47.01 210 0 162.99 0 105S47.01 0 105 0c14.163 0 27.672 2.804 40 7.888v45.874C133.97 45.139 120.085 40 105 40c-35.899 0-65 29.101-65 65s29.101 65 65 65c15.085 0 28.97-5.139 40-13.762v45.874z" opacity=".08"/>-->
<!--        </svg>-->

<!--[fxLayoutAlign]="i18nService.language == 'he' ? 'end end' : 'end end'"-->
<!--[style.height]="model.heightCircle" [style.width]="model.widthCircle"-->
<!--[style.translate]="settings[i18nService.language].transform"-->
