@import '../site.component';
:host {
    width: 100%;
    .container {
        width: 100%;
        height: 100%;

        .hover {
            display: none !important;
        }
        .notHover {
            position: relative !important;

            .under {
                width: 100%;
                text-align: center;
                position: absolute;
                bottom: 10%;
            }

            .up {
                width: 100%;
                text-align: center;
                position: absolute;
                bottom: 90%;
            }
        }
        &:hover {
            .notHover {
                display: none !important;
            }
            .hover {
                display: flex !important;
            }
        }
    }
}
span {
    @include letter(20px, 0.7px, $font-family: Rubik);
}
.textHover {
    @include letter(14px, 0.5px, 1.86, $font-family: Rubik);
}
