<div class="blocked‏" *ngIf="!isHide"></div>
<div
    class="container"
    [ngClass]="{ 'slide-up': isHide == false }"
    *ngIf="dic"
    [dir]="i18nService.dir"
    fxLayout="row"
    fxLayoutAlign="stretch"
>

    <main fxFlex fxLayout="column">
        <div fxFlex="22" fxFlex.sm="15" fxLayoutAlign.xs="center" fxLayoutAlign="end center">
            <div class="logo" fxLayout.xs fxLayoutAlign.lt-sm="space-between center">
                <img class="praedicta" src="assets/img/praedicta-logo-temp.png" />
                <nav fxLayoutAlign="end" fxHide.gt-xs>
                    <span>{{ dic.Menu }}</span>
                    <div class="menu" fxLayout="column" fxLayoutAlign="end end">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </nav>
            </div>
        </div>

        <div fxFlex fxFlex.xs="61" fxLayoutAlign.sm="center" fxLayoutAlign="end">
            <div fxFlex="85" fxFlex.xs="91" fxLayoutAlign="space-between center">
                <div fxFlex="50%" class="left" fxLayout="column">
                    <div class="wrapper-line" fxHide.lg>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                    <pre> <span class="title" fxFlex >{{ dic.sitePage.main.WhoWeare.title }}</span></pre>
                    <pre><p fxFlex fxHide.lt-sm	>{{ dic.sitePage.main.WhoWeare.content }} </p></pre>
                    <pre><p fxHide.gt-xs>{{ dic.sitePage.main.WhoWeare.content_xs}} </p></pre>
                    <div style="width:15%">
                        <a fxFlex href="">{{ dic.More }} </a>
                    </div>
                </div>
                <div style="height: 70%" class="right" fxLayout="column" fxHide.lt-md>
                    <pre><span class="title">{{ dic.sitePage.main.Ourvision.title }}</span></pre>
                    <pre><p class="opacity">{{ dic.sitePage.main.Ourvision.content }} </p></pre>
                    <div style="width:15%">
                        <a fxFlex href="">{{ dic.More }} </a>
                    </div>
                </div>
            </div>
        </div>

        <div fxFlex="7em" fxFlex.xs="17%" class="bottom" fxLayoutAlign="end center">
            <div class="wrap_bottom" fxLayout="column" fxLayoutAlign="center center">
                <a href="" (click)="isHide = false">{{ dic.Our_clients }} </a>
                <i class="arrow"></i>
            </div>
        </div>
    </main>
    <div

        class="systems"
        fxFlex="33.3"
        fxFlex.sm="25"
        fxLayout="row wrap"
        fxLayout.sm="column"
        fxHide.xs
        fxLayoutAlign="start stretch"
    >
        <div fxFlex="50" fxFlex.sm fxLayoutAlign="end center" fxLayout="column" fxFlexOrder.sm="1" (click)="navigate('bonds')">
            <span fxHide.gt-sm fxHide.lt-sm class="en-he" (click)="changeDirection()">{{ dic.sitePage.systems.eng_Heb }}</span>
            <p-system
                    style="z-index: 999;height: 100%"
                    [model]="{
                    systemName: 'bonds',
                    hoverbackground: 'rgba(44, 131, 133, 0.1)',
                    colorCircle: '#2c8385',
                    heightCircle: '300',
                    widthCircle: '300',
                    cyCircle: '280',
                    cxCircleEng: '280',
                    cxCircleHe: '280'
                                  }"
            ></p-system>
        </div>

        <div
            fxFlex="50"
            fxFlex.sm="10"
            fxLayoutAlign="end center"
            fxLayoutAlign.sm="center center"
            fxLayout="column"
            fxFlexOrder.sm="3"
            (click)="navigate('otherSolution')"

        >

<!--            <span fxHide.lt-md class="en-he" (click)="changeDirection($event)">{{ dic.sitePage.systems.eng_Heb }}</span>-->
            <span fxHide.lt-md class="en-he" (click)="changeDirection($event)">
                <span [ngClass]="{'underline':dir== 'rtl'}">עברית</span>/<span [ngClass]="{'underline':dir== 'ltr'}">Eng</span></span>

            <p-system
                    style="z-index: 999;height: 100%"
                    [model]="{
                    systemName: 'otherSolution',
                    hoverbackground: 'rgba(189, 86, 86, 0.1)',
                    colorCircle: '#bd5656',
                    heightCircle: '300',
                    widthCircle: '300',
                    cyCircle: '400',
                    cxCircleEng: '280',
                    cxCircleHe: '40'
                         }"
                 ></p-system>
        </div>
        <div
            fxFlex="50"
            fxFlex.sm="10"
            fxLayoutAlign="start center"
            fxLayoutAlign.sm="center center"
            fxLayout="column"
            fxFlexOrder.sm="2"
            (click)="navigate('holdings')"
        >
            <p-system
                    style="z-index: 999;height: 100%"
                    [model]="{
                    systemName: 'holdings',
                    hoverbackground: 'rgba(136, 73, 119, 0.1)',
                    colorCircle: '#884977',
                    heightCircle: '300',
                    widthCircle: '300',
                    cyCircle: '40',
                    cxCircleEng: '40',
                    cxCircleHe: '280'
                         }"
            ></p-system>
        </div>

        <div fxFlex="50" fxFlex.sm fxLayoutAlign="start center" fxLayout="column" fxFlexOrder.sm="4"  (click)="navigate('contactUs')">
            <p-system
                    style="z-index: 999;height: 100%"
                    [model]="{
                    systemName: 'contactUs',
                    hoverbackground: 'rgba(107, 118, 255, 0.1)',
                    colorCircle: '#6b76ff',
                    heightCircle: '300',
                    widthCircle: '300',
                    cyCircle: '180',
                    cxCircleEng: '280',
                    cxCircleHe: '40'
                         }"
            ></p-system>

            <div style="z-index: 9999" (click)="isContuct = true" class="envelope-icon" fxLayoutAlign="center center">
                <svg xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" viewBox="0 0 24 24">
                    <g fill="none" fill-rule="evenodd">
                        <path d="M0 0h24v24H0z" />
                        <path
                            fill="#FFF"
                            fill-rule="nonzero"
                            d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6zm-2 0l-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z"
                        />
                    </g>
                </svg>
            </div>
        </div>
    </div>
</div>

<div fxLayout="column" fxLayoutAlign="center center" Layout class="our-clients open" *ngIf="!isHide">
    <span fxFlex="21" (click)="isHide = true" class="x">X</span>
    <span fxFlex="22" class="Our_clients">{{ dic.Our_clients }} </span>
    <div gdRows="repeat(1, [row] 1fr)" gdColumns="repeat(7, [col] 1fr)">
        <img src="assets/img/client/logo-entropy.png" />
        <img src="assets/img/client/logo-ayzenberg.png" />
        <img src="assets/img/client/logo-migdal.png" />
        <img src="assets/img/client/logo-poalim.png" />
        <img src="assets/img/client/logo-alumot.png" />
        <img src="assets/img/client/logo-union.png" />
        <img src="assets/img/client/logo-ubank.png" />
    </div>
    <div gdRows="repeat(1, [row] 1fr)" gdColumns="repeat(40, [col] 1fr)">
        <img gdArea="1/3/1/40" src="assets/img/client/logo-midroog.png" />
        <img gdArea="1/9/1/40" src="assets/img/client/logo-more.png" />
        <img gdArea="1/15/1/40" src="assets/img/client/logo-discont.png" />
        <img gdArea="1/22/1/40" src="assets/img/client/logo-dun&bradstreet.png" />
        <img gdArea="1/30/1/40" src="assets/img/client/logo-mizrachi.png" />
        <img gdArea="1/35/1/40" src="assets/img/client/logo-israel.png" />
    </div>
</div>

<p-contuct *ngIf="isContuct" (onClose)="isContuct = false"> </p-contuct>
