@import '../site.component';
@mixin radial-gradient($weight, $height, $start: 8em, $end: 11em) {
    background: radial-gradient(
            circle at $weight $height,
            transparent $start,
            rgba(255, 255, 255, 0.04) 0,
            rgba(255, 255, 255, 0.04) $end,
            transparent 0
        ),
        linear-gradient(to bottom, #6b76ff, #465bdf);
}

@mixin letter($font-size, $letter-spacing, $line-height: normal, $font-weight: normal, $font-family: Poppins, $color: #feffdf) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    font-style: normal;
    font-stretch: normal;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    color: $color;
}

@mixin circle($weight, $height, $top: 0, $left: 0, $bottom: 0, $right: 0) {
    &::after {
        content: '';
        border: 50px solid #ffffff;
        height: $weight;
        width: $height;
        position: absolute;
        opacity: 0.05;
        border-radius: 50%;
        top: $top;
        left: $left;
        right: $right;
        bottom: $bottom;
        overflow: hidden;
    }
}

@mixin unfer-line($width, $height, $top) {
    &::before {
        content: '';
        position: absolute;
        width: $width;
        opacity: 0.5;
        border-bottom: solid $height #b6cfe7;
        top: $top;
    }
}

@mixin envelope($color) {
    width: 28px;
    height: 23px;
    border: 2px solid $color;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 4px;

    &::before,
    &::after {
        border-bottom: 2px solid $color;
        position: absolute;
        display: block;
        content: '';
    }
    &::before {
        top: 0;
        left: 0;
        width: 16px;
        height: 5px;
        -webkit-transform: rotate(35deg);
        -moz-transform: rotate(35deg);
        -ms-transform: rotate(35deg);
        -o-transform: rotate(35deg);
        transform: rotate(35deg);
    }
    &::after {
        top: 0;
        left: 8px;
        width: 16px;
        height: 5px;
        -webkit-transform: rotate(-35deg);
        -moz-transform: rotate(-35deg);
        -ms-transform: rotate(-35deg);
        -o-transform: rotate(-35deg);
        transform: rotate(-35deg);
    }
}
:host {
    width: 100%;
    height: 100%;
}
.container {
    height: 100vh;
    overflow: hidden;
    position: relative;

    &.slide-up {
        transform: translateY(-35%);
        transition-duration: 235ms;
        //opacity: 0.5;
        //background-color: #22385a;
    }

    * {
        box-sizing: border-box;
    }

    main {
        @include radial-gradient(75%, 100%, 8em, 11em);
        @media (max-width: 967px) {
            @include radial-gradient(65%, 100%, 8em, 11em);
        }
        @media (max-width: 600px) {
            @include radial-gradient(50%, 100%, 6em, 8em);
        }

        nav {
            display: flex;
            cursor: pointer;
            width: 100px;
            height: 31%;

            span {
                @include letter(16px, 0.6px, 1.75);
            }

            .menu {
                width: 30%;
                @each $line in (1 37%, 2 59%, 3 30%) {
                    div:nth-child(#{nth($line, 1)}) {
                        width: nth($line, 2);
                        height: 2px;
                        border-radius: 1px;
                        background-color: #feffdf;
                        margin: 3px;
                    }
                }
            }
        }

        .logo {
            width: 31%;
            height: 54%;
            @media (min-width: $medium-screen) and (max-width: $medium-screen) {
                width: 45%;
                height: 31%;
            }
            @media (min-width: 375px) and (max-width: 600px) {
                width: 86%;
                height: 54%;
            }
            @media (max-width: $small-screen) {
                width: 83%;
                height: 63%;
                .praedicta {
                    width: 134px;
                    height: 14px;
                }
            }
        }

        pre {
            margin: 0;
        }
        .left {
            @media (max-width: 600px) {
                height: 125%;
            }

            .wrapper-line {
                display: flex;
                margin-bottom: 25px;

                .line {
                    cursor: pointer;
                    width: 35px;
                    opacity: 0.25;
                    border-bottom: solid 4px #feffdf;
                    margin-right: 20px;
                    z-index: 1;
                    &:hover {
                        opacity: 0.75;
                        border-bottom: solid 4px #feffdf;
                    }
                }
            }

            p,
            a {
                @include letter(16px, 0.6px, 1.75);
                padding: 0 30px;
                @media (max-width: $small-screen) {
                    @include letter(12px, 0.4px, 2.08);
                }
            }

            a {
                position: relative;
                text-decoration: none;
                @include unfer-line(41px, 2px, 24px);
                @media (max-width: $small-screen) {
                    @include unfer-line(26px, 2px, 26px);
                }
                @media (max-width: $medium-screen) {
                    @include unfer-line(31px, 2px, 26px);
                }
            }

            span {
                &.title {
                    position: relative;
                    width: 212px;
                    @include circle(327px, 327px, $top: -137px, $left: -132px);
                    @media (max-width: $small-screen) {
                        @include circle(327px, 327px, $top: -213px, $left: -199px);
                    }
                    @include letter(50px, 1.6px, $font-weight: bold);
                    @media (max-width: $small-screen) {
                        @include letter(35px, 2.3px, $font-weight: bold);
                    }
                }
            }
        }

        .right {
            p,
            a {
                @include letter(14px, -0.5px, 2);
                padding-left: 4em;
            }

            span {
                &.title {
                    position: relative;
                    width: 150px;
                    @include letter(35px, 1.6px, 1.37, bold);
                    @include circle(200px, 200px, $top: -82px, $left: 87px);
                }
            }

            p {
                &.opacity {
                    background-image: linear-gradient(to right, #feffdf, rgba(254, 255, 223, 0));
                    display: inherit;
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            a {
                position: relative;
                text-decoration: none;
                @include unfer-line(36px, 2px, 24px);
            }
        }

        .bottom {
            .wrap_bottom {
                width: 50%;
                @media (max-width: 967px) {
                    width: 69%;
                }
                @media (max-width: $small-screen) {
                    width: 100%;
                    height: 57%;
                }
            }

            a {
                position: relative;
                text-decoration: none;
                padding-bottom: 2%;
                @include letter(14px, 0.5px, 2);
                @include unfer-line(76px, 2px, 24px);
            }

            .arrow {
                border: solid #5bb2d9;
                border-width: 0 0.1em 0.1em 0;
                padding: 0px;
                transform: rotate(45deg);
                top: -41px;
                height: 16px;
                width: 16px;
                right: -21px;

                &::before {
                    position: absolute;
                    content: '';
                    transform: rotate(134deg);
                    height: 16px;
                    top: 0;
                    right: 6px;
                    border-left: 0.1em solid #5bb2d9;
                }
            }
        }
    }

    .systems {
        .background {
            background: #54678c;
        }
        > div {
            border: 1px solid #8080801c;
        }

        span {
            @include letter(20px, 0.7px);
            text-align: center;
            color: #54678c;

            @media screen and (max-width: 957px) {
                padding: 0.4em 0em;
            }
        }

        .envelope-icon {
            position: absolute;
            background: #ff9578;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            bottom: 5%;
            @media (max-width: $medium-screen) {
            }

            .envelope {
                @include envelope(#ffffff);
            }
        }

        .envelope {
            @media (max-width: $medium-screen) {
                @include envelope(#000000);
                margin-top: 0.4em;
                & + span {
                    padding: 0 1em;
                }
            }
        }
    }

    &[dir='rtl'] .left {
        span {
            &.title {
                overflow: visible;
                @include circle(327px, 327px !important, $top: -157px !important, $left: -134px, $right: -119px !important);
                @media (max-width: $small-screen) {
                    @include circle(327px, 327px !important, $top: -227px !important, $right: -188px !important);
                }

                @include letter(50px, 1.6px, $font-weight: bold, $font-family: Rubik !important);
            }
        }
        p {
            @include letter(16px, 0.6px, 1.75, $font-family: Rubik !important);

            @media (max-width: $small-screen) {
                @include letter(12px, 0.4px, 2.08, $font-family: Rubik !important);
            }
        }
        a {
            display: none;
        }
    }

    &[dir='rtl'] .bottom {
        .wrap_bottom {
            width: 50%;
            @media (max-width: $medium-screen) {
                width: 74% !important;
            }
            @media (max-width: $small-screen) {
                width: 100% !important;
                height: 57%;
            }
        }
    }
    &[dir='rtl'] .right {
        width: 275px !important ;
        span {
            &.title {
                @include letter(35px, 1.6px, 1.37, bold, $font-family: Rubik !important);
                @include circle(200px, 200px, $top: -127px, $left: 87px, $right: 94px!important);
            }
        }
        p {
            @include letter(14px, -0.5px, 2, $font-family: Rubik !important);
            padding-right: 4em !important;
            padding-left: 0em !important;
            &.opacity {
                background-image: linear-gradient(to left, #feffdf, rgba(254, 255, 223, 0)) !important;
            }
        }
        a {
            display: none;
        }
    }
    &[dir='rtl'] .bottom {
        .wrap_bottom {
            @media (max-width: $medium-screen) {
                width: 74%;
            }
        }
    }
}

[dir='rtl'].container {
    main {
        @include radial-gradient(25%, 100%);
        @media (max-width: $medium-screen) {
            @include radial-gradient(37%, 100%, 8em, 11em);
        }
        @media (max-width: $small-screen) {
            @include radial-gradient(50%, 100%, 6em, 8em);
        }
    }
}
.x {
    cursor: pointer;
}
.our-clients {
    transform: translateY(100%);
    transition-duration: 235ms;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: #ffffff;
    &.open {
        transform: translateY(0);
        transition-duration: 235ms;
    }

    span {
        @include letter(35px, 1.6px, 1.37, $font-weight: bold, $font-family: Rubik, $color: #54678c);
    }
}
.blocked‏ {
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: 99999;
    background: #54678c;
    opacity: 0.5;
}
