<ng-template #card let-group="group">
    <div fxLayoutAlign="start" fxLayout="column">
        <div
            fxLayout="row"
            fxFlex="25px"
            fxLayout="row wrap"
            fxLayoutAlign="space-between start"
            fxLayoutAlign="start center"
            [style.visibility]="group ? 'visible' : 'hidden'"
            (click)="$event.stopPropagation(); openView(group)"
        >
            <div fxFlex="32px" style="cursor:pointer"><mat-icon>add_circle_outline</mat-icon></div>
            <span class="text">
                {{ group?.name }}
            </span>
        </div>

        <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div
                fxFlex="47%"
                *ngFor="let secondaryGroup of group?.children"
                (click)="$event.stopPropagation(); groupClick.next(secondaryGroup)"
                [class]="
                    'special ' +
                    (secondaryGroup.count > 0 && secondaryGroup.isActive ? 'active' : secondaryGroup.count > 0 ? 'hasfunds' : '')
                "
                fxLayout="row"
                fxLayoutAlign="space-between center"
            >
                <span class="font">
                    {{ secondaryGroup.name.slice(-30) }}
                </span>
                <span>
                    {{ secondaryGroup.count }}
                </span>
            </div>
        </div>
    </div>
</ng-template>

<div fxLayout="row" fxLayoutAlign="start start">
    <div fxLayout="row wrap" fxFlex="75%" fxLayoutAlign="space-between  start">
        <div
            fxFlex="32.3%"
            *ngFor="let group of mainGroup"
            fxLayout="column"
            class="card"
            fxLayoutAlign="space-between space-between"
            style="height: auto; margin-bottom: 16px;"
            (click)="groupClick.next(group)"
            [style.visibility]="group ? 'visible' : 'hidden'"
        >
            <ng-container *ngIf="group" [ngTemplateOutlet]="card" [ngTemplateOutletContext]="{ group: group }"> </ng-container>
        </div>
    </div>

    <div fxFlex="25%" fxLayout="row wrap" fxLayoutAlign="end start">
        <div
            fxFlex="95%"
            *ngFor="let group of assideGroup; let i = index"
            fxLayout="column"
            fxLayoutAlign="space-between space-between"
            style="height: auto; margin-bottom: 16px;"
            class="card"
            [style.visibility]="group ? 'visible' : 'hidden'"
            [style.min-height]="i === 0 && !group ? '250px' : 0"
        >
            <ng-container [ngTemplateOutlet]="card" *ngIf="group" [ngTemplateOutletContext]="{ group: group }"> </ng-container>
        </div>
    </div>
</div>
