<div style="height: 100%;" fxLayout="column">
    <h1 fxFlex="100px;" mat-dialog-title>עריכת משתמש</h1>
    <form fxFlex autocomplete="off" mat-dialog-content>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <p-text-box [form]="form.controls['email']" name="email" placeholder="מייל"></p-text-box>
            <p-text-box [form]="form.controls['company']" name="company" placeholder="חברה"></p-text-box>
            <p-text-box [form]="form.controls['fName']" name="fName" placeholder="שם פרטי"></p-text-box>
            <p-text-box [form]="form.controls['lName']" name="lName" placeholder="שם משפחה"></p-text-box>
            <p-text-box [form]="form.controls['phone']" name="phone" placeholder="טלפון"></p-text-box>
            <p-text-box
                style="width: 100%;"
                [form]="form.controls['details']"
                name="details"
                placeholder="פרטים נוספים"
            ></p-text-box>
        </div>
    </form>
    <div fxFlex="100px;" mat-dialog-actions>
        <button (click)="save($event)" mat-raised-button color="primary">שמור</button>
        <button (click)="cancel()" mat-raised-button color="primary">בטל</button>
    </div>
</div>
